body {
	font-family: Helvetica;
	margin-top: 15px;
}

h1 {
	font-size: 25pt;
	color: #ABC8E2;
}

a {
	color: #375D81;
	text-decoration: none;
}

ul.simple {
	list-style-type: none;
	padding: 0px;
}

ul.simple li {
	margin-bottom: 5px;
	padding-left: 5px;
}