/* @override 
	http://localhost:3000/stylesheets/application.css?1
	http://localhost:3333/stylesheets/application.css?1
	http://localhost:2010/stylesheets/application.css?1
*/

/* @group Basic */

body { font-family: Helvetica; }

h1 { font-size: 25pt; color: #ABC8E2; }

a { color: #375D81; text-decoration: none; }

.fl { float: left; }

.fr { float: right; }

.relative { position: relative; }

.hidden { display: none; }

ul.simple { list-style-type: none; padding: 0px; margin: 0px; }

/* @end */

/* @group Typo */

/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Paragraph
 * License URL: http://www.fontspring.com/fflicense/paragraph
 *
 *
 */

@font-face {
	font-family: 'MentoneSemiBold';
	src: url('mentone-semibol-webfont.eot');
	src: local('☺'), url('mentone-semibol-webfont.woff') format('woff'), url('mentone-semibol-webfont.ttf') format('truetype'), url('mentone-semibol-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3 { font: 14px 'MentoneSemiBold', 'Lucida Grande'; }

h2 { color: #0d4eb3; font-size: 16px; text-shadow: #fff 0 1px 0; }

h3 { color: #4a4f57; text-shadow: #fff 0 1px 0; }

p.description { color: #808080; }

/* @end */

/* @group Layout */

body { background: #222428 url(../images/background.png); }

.content { padding: 15px; }

#wrapper { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: hidden; }

#header { height: 32px; background-color: #24334a; }

#header h1.logo { font: 14px 'MentoneSemiBold', 'Lucida Grande'; color: #4e668a; padding-left: 16px; padding-top: 7px; }

#header h1.logo a { color: #4e668a; -webkit-transition: color 0.3s linear; }

body.loading #header h1.logo a { color: #7194c8; }

body #header .loader { width: 16px; height: 16px; position: absolute; top: 9px; left: 100px; z-index: 1000; background-image: url(../images/header_loader.gif); opacity: 0; -webkit-transition: opacity 0.3s linear; _display: none;  }

body.loading #header .loader { opacity: 1; _display: block; }

#status { position: absolute; left: 0px; right: 0px; height: 40px; color: #fff; }

#status .content { padding-top: 9px; }

#status ul.navigation { margin-left: 20px; margin-top: -1px; }

#status ul.navigation li { float: left; font-family: 'MentoneSemiBold', 'Lucida Grande'; text-transform: uppercase; margin-right: 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

#status ul.navigation li.active { background: url(../images/status_navigation_active.png) repeat-x; }

#status ul.navigation li.active a { color: #fff; }

#status ul.navigation li a { color: #a4a4a4; display: block; padding: 3px 10px 5px; }

#status h1 { color: #4c4c4c; font-size: 15px; }

#time_tracker { position: absolute;  top: 0px; right: 0px; display: none; color: #66686c; font-size: 11px; padding-left: 15px; background: url(../images/time_tracker_background.png) no-repeat right; width: 500px; }

#time_tracker .entry { padding-top: 12px; padding-right: 7px; }

#time_tracker .entry a { color: #66686c; }

#time_tracker .entry a:hover { color: #878b90; }

#time_tracker .clock { padding: 11px 50px 10px 15px; background: url(../images/time_tracker_clock_background.png) no-repeat; position: relative; }

#time_tracker .clock a.toggle { position: absolute; right: 19px; top: 7px; display: block; width: 26px; height: 25px; text-indent: -9999px; background-image: url(../images/time_tracker_clock_button.png); }

#time_tracker .clock a.toggle:active { background-position: 0 -26px; }

#time_tracker .clock a.toggle.start { background-position: 0 -52px; }

#time_tracker .clock a.toggle.start:active { background-position: 0 -78px; }

#time_tracker .clock strong { color: #4d4f54; font: normal normal 14px 'MentoneSemiBold', 'Lucida Grande'; text-shadow: #121212 0 -1px 0; }

#user_status { position: absolute; right: 0px; top: 0px; color: #4b6287; padding-top: 10px; padding-right: 15px; font-size: 11px; text-shadow: #182334 0 1px 0; }

#user_status a { color: #4b6287; margin-right: 15px; }

#user_status a:hover { text-decoration: underline; }

#main { position: absolute; top: 70px; bottom: 50px; left: 0px; right: 0px; }

#main #sidebar { background: #f1f4f8; border-right: 1px solid #c5d1de; width: 199px; position: absolute; top: 0px; bottom: 0px; left: 0px; display: none; }

#main #sidebar h2 { margin-left: 15px; margin-top: 10px; }

/* @group Modal */

#modal_overlay { position: fixed; width: 100%; height: 100%; z-index: 30; background-image: url(../images/modal_overlay_background.png); opacity: 0; }

#modal_overlay.shown { opacity: 1; }

#modal_wrapper { position: absolute; z-index: 1001; left: 50%; top: 80px; width: 700px; margin-left: -360px; background-image: url(../images/modal_wrapper_background.png); padding: 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

#modal { background: #fff; padding: 15px;  }



/* @end */

/* @group Navigation */

ul.navigation { width: 100%; list-style-type: none; padding: 0px; }


#sidebar ul.navigation { }

#sidebar ul.navigation li { padding-left: 20px; padding-bottom: 3px; padding-top: 4px; }



/* @end */

#main #document { position: absolute; left: 0px; top: 0px; bottom: 0px; right: 0px; overflow: auto; background-color: #e6e9ed; }

#main #document.with_inspector { bottom: 250px; }

#main #inspector { background: #f3f3f3 url(../images/inspector_background.png); position: absolute; right: 0px; width: 250px; top: 0px; bottom: 0px; border-left: 1px solid #bbb; overflow: auto; }

#main #inspector p { color: #939393; font-size: 12px; text-shadow: #fff 0 1px 0; }

#footer { height: 50px; background: #ececec; border-top: 1px solid #dfdfdf; position: absolute; bottom: 0px; width: 100%; }

#footer_side { width: 200px; position: absolute; top: 0px; bottom: 0px; right: 0px; }

#footer_main { position: absolute; right: 200px; right: 0px; left: 0px; }

#footer .content { padding-top: 11px; }

/* @group Project switcher */

#project_switcher { position: absolute; left: 14px; top:75px; background-color: #222428; z-index: 10; color: #fff; background-image: url(../images/background.png); -webkit-border-radius: 3px; -moz-border-radius: 3px; padding: 10px 15px 10px 12px; }

#project_switcher ul { list-style-type: none; padding: 0px; margin: 0px; color: #9e9e9e; font: 12px "MentoneSemiBold"; }

#project_switcher ul li { margin-bottom: 5px; }

#project_switcher ul li a { color: #9e9e9e; }

#project_switcher ul li a:hover { color: #bbb; }

#project_switcher h2 { color: #fff; text-transform: uppercase; text-shadow: none; font-size: 12px; }



/* @end */

/* @group Special views */

body.projects #main #sidebar { display: block; }

body.projects #main #document { left: 200px; }

body.with_inspector #main #document { right: 250px; }



/* @end */

/* @end */

/* @group Forms */

form.formtastic fieldset { border: none; padding-top: 0px; padding-bottom: 0px; padding-left: 5px; }

form.formtastic ol { list-style-type: none; padding: 0px; }

form.formtastic label { border: none; font-size: 12px; color: #5c5c5c; font-weight: normal; display: block; width: 150px; float: left; padding-top: 16px; }

form.formtastic label.story_type { padding-top: 2px; }

form.formtastic li.error { padding: 0px; margin: 0px; border: none; background: none; }

form.formtastic li.error label { color: #ae1d18; }

form.formtastic li.error p.inline-errors { display: none; }

form.formtastic li.select label { padding-top: 7px; }

form.formtastic fieldset.inputs input, form.formtastic textarea { color: #232323; font-size: 14px; font-weight: bold; padding: 10px; border: 1px solid #c6c6c6; background: #fff url(../images/input_background.png) repeat-x; -webkit-box-shadow: #f8f8f8 0px 1px 0px; -moz-box-shadow: #f8f8f8 0px 1px 0px; }

form.formtastic textarea { font-size: 12px; height: 100px; }

form.formtastic select { font-size: 14px; }

form.formtastic li.commit input { background: transparent url(../images/submit_button_background.png) no-repeat; border: none; padding: 12px; width: 136px; color: #fff; font: normal normal 13px MentoneSemiBold; text-transform: uppercase; text-shadow: #2f558e 0 1px 0; cursor: pointer; }

form.formtastic li.commit { margin-left: 150px; }

form.formtastic li.commit input:active { background-position: 0 -50px; }

form.formtastic legend span { font: 14px 'MentoneSemiBold', 'Lucida Grande'; color: #4a4f57; text-shadow: #fff 0 1px 0; }

form.formtastic label.estimate { padding-top: 4px; }

form.formtastic div.estimate label { display: block; float: left; width: 20px; padding-top: 4px; padding-left: 5px; }

form.formtastic div.estimate input { display: block; float: left; width: 20px; }

form.formtastic li.estimate { margin-bottom: 5px; }



/* @end */

/* @group Stories */

ul.stories { padding: 0px; margin: 0px; }

ul.stories li { margin-bottom: 0; cursor: pointer; height: 43px; background: url(../images/story_background.png) 0 -86px; }

/* States colors */

ul.stories li.current { background-position: 0 -86px; }

ul.stories li.upcoming { background-position: 0 -172px; }

ul.stories li.done { background-position: 0 0; }

ul.stories li.new { background-position: 0 -258px; }

ul.stories li.selected.current { background-position: 0 -129px; }

ul.stories li.selected.upcoming { background-position: 0 -215px; }

ul.stories li.selected.done { background-position: 0 -43px; }

ul.stories li.selected.new { background-position: 0 -301px; }

/* Content */

ul.stories li div.content { background: #fff url(../images/story_content_background.png); margin-left: 10px; margin-right: 10px; padding: 0; height: 43px; position: relative; }

ul.stories li.selected div.content { background-position: 0 -43px; }

/* Icon */

ul.stories li .name { padding-top: 14px; padding-bottom: 12px; background: url(../images/story_icons.png) no-repeat 10px 11px; padding-left: 45px; color: #333b46; font-weight: bold; text-shadow: #fff 0 1px 0; }

ul.stories li.chore .name { background-position: 10px -52px; }

ul.stories li.bug .name { background-position: 10px -115px; }

ul.stories li .name a.owner { font-size: 11px; padding-left: 5px; }

/* Selected */

ul.stories .icon { padding-right: 10px; padding-top: 3px; }

/* Details */

ul.stories li .details { position: absolute; bottom: 11px; right: 0px; color: #7e7e7e; font-size: 11px; font-weight: bold; text-shadow: #fff 0 1px 0; }

ul.stories li .details span { padding-right: 10px; }

ul.stories li .details .points { padding-right: 10px; padding-left: 15px; background: url(../images/story_icons_small.png) no-repeat 0 2px; }

ul.stories li .details .comments { padding-right: 10px; background: url(../images/story_icons_small.png) no-repeat 0 -18px; padding-left: 18px; }

/* Edit mode */

ul.stories li .sort_handle { display: none; position: absolute; top: 0px; left: 0px; width: 40px; height: 43px; background: url(../images/story_drag_handle.png) no-repeat 12px 15px; }

ul.stories.edit_mode li .sort_handle { display: block; cursor: move; }

ul.stories.edit_mode li .name { background: none; }

ul.stories.edit_mode .details { display: none; }

/* Edit mode / delete button */

ul.stories .delete_button { display: none; }

ul.stories.edit_mode .delete_button { display: block; position: absolute; right: 12px; top: 10px; }

ul.stories.edit_mode .delete_button a { display: block; background-image: url(../images/story_remove.png); text-indent: -9999px; width: 87px; height: 24px; }

/* @group Inspector */

.story_inspector {  }

.story_inspector a.edit { display: block; background-image: url(../images/inspector_links.png); width: 60px; text-indent: -9999px; }

.story_inspector a.cancel { display: block; width: 60px; text-indent: -9999px; background: url(../images/inspector_links.png) 0 -40px; margin-top: 2px; }

.story_inspector a.save { margin-left: 3px; }

.story_inspector div.edit input.name { width: 210px; padding: 5px; color: #4a4f57; font: 14px 'MentoneSemiBold', 'Lucida Grande'; }

.story_inspector div.edit textarea { width: 210px; color: #6a6a6a; height: 80px; }

.story_inspector .buttons { margin-top: 8px; }

.story_inspector label { color: #808587; font-weight: normal; font-style: normal; font-size: 12px; }

.story_inspector .label { width: 70px; padding-top: 4px; }

/* Buttons */

.story_inspector .story_action_buttons { background: url(../images/story_action_buttons_background.png) 0 bottom; padding: 15px 15px 15px 25px; }

a.story_action { display: block; width: 197px; background-image: url(../images/story_action_buttons.png); height: 37px; text-indent: -9999px; }

a.story_action span { display: block; width: 100%; height: 100%; }

a.story_action.start { background-position: 0 -148px; }

a.story_action.start:active { background-position: 0 -185px; }

a.story_action.archive { background-position: 0 -74px; }

a.story_action.archive:active { background-position: 0 -111px; }

a.story_action.finish { background-position: 0 0px; }

a.story_action.finish:active { background-position: 0 -37px; }

a.story_action.schedule { background-position: 0 -222px; background-repeat: no-repeat; }

a.story_action.schedule:active { background-position: 0 -259px; }

/* Buttons/Disabled */

a.story_action.finish.disabled { background-position: -200px 0; }

a.story_action.finish.disabled:active { background-position: -200 -37px; }

a.story_action.finish.disabled span { background: url(../images/button_loader_finish.gif) no-repeat 170px center; }

a.story_action.start.disabled { background-position: -200px -148px; }

a.story_action.start.disabled:active { background-position: -200 -185px; }

a.story_action.start.disabled span { background: url(../images/button_loader_start.gif) no-repeat 170px center; }

a.story_action.archive.disabled { background-position: -200px -74px; }

a.story_action.archive.disabled:active { background-position: -200px -111px; }

a.story_action.archive.disabled span { background: url(../images/button_loader_archive.gif) no-repeat 170px center; }

a.story_action.schedule.disabled { background-position: -200px -222px; background-repeat: no-repeat; }

a.story_action.schedule.disabled:active { background-position: -200px -259px; }

a.story_action.schedule.disabled span { background: url(../images/button_loader_schedule.gif) no-repeat 170px center; }

/* Links */

ul.links { list-style-type: none; padding: 0px; }

ul.links li { margin-bottom: 5px; }

ul.links li a { font-weight: bold; font-size: 11px; text-shadow: #fff 0 1px 0; }

/* Comments */

ul.comments { list-style-type: none; padding: 0px; }

ul.comments li { margin-bottom: 5px; color: #818283; text-shadow: #fff 0px 1px 0px; }

/* Messages */

.story_inspector input.message { background-color: #f3f4f6; border: 1px solid #c0c8d3; padding: 5px; width: 100%; font: 11px "Monaco", "Courier New"; margin: 0; }

.story_inspector input.message:focus { outline: none; }

/* Form */

#inspector div.row { margin-bottom: 0; }

#inspector div.row.type { margin-top: 5px; margin-bottom: 5px; }

/* Type select */

.type_select { background-image: url(../images/story_type_picker.png); width: 126px; height: 24px; border: 1px solid #b3bbc2; -webkit-border-radius: 3px; }

.type_select label { width: 42px !important; display: block !important; float: left !important; height: 24px !important; cursor: pointer; padding: 0px !important; }

.type_select label.checked.feature { background: url(../images/story_type_picker.png) 0 -24px; }

.type_select label.checked.chore { background: url(../images/story_type_picker.png) -42px -24px; }

.type_select label.checked.bug { background: url(../images/story_type_picker.png) -84px -24px; }

.type_select label input { position: absolute; left: -9999px; }



/* @end */

/* @group Filter */

#filter { }



/* @end */


/* @end */

/* @group Buttons */

a.tab { color: #494949; font-weight: bold; display: block; float: left; background-image: url(../images/tabs.png); border: 1px solid #c5c5c5; border-right: none; font-size: 11px; padding: 6px 10px 4px; }

a.tab.active { background-position: 0 -50px; color: #f7f7f7; border-color: #797979; }

a.tab:last-child { border-right: 1px solid #c5c5c5; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; }

a.tab:first-child { -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; }

a.button.small { display: block; background: url(../images/button_small_end.png) no-repeat right 0; float: left; }

a.button.small span { display: block; background: url(../images/button_small.png) no-repeat 0 0; margin-right: 11px; font-size: 11px; font-weight: bold; color: #6d88ae; text-transform: uppercase; padding: 3px 2px 2px 12px; text-shadow: #c0ccdd 0 1px 0; }

a.button.small:active { background-position: right -50px; }

a.button.small:active span { background-position: 0 -50px; }

a.button.small.disabled { background-position: right -100px; }

a.button.small.disabled span { background-position: 0 -100px; color: #9e9fa2; text-shadow: #d3d6da 0 1px 0; }

/* @end */

/* @group Time Tracker */



/* @end */

/* @group Dashboard */

#document.dashboard { background-color: #fdfcfe !important; }

ul.dashboard_stories { list-style-type: none; background: #f8f8f9; border: 1px solid #e8ebee; -webkit-border-radius: 3px; -moz-border-radius: 3px; padding: 0px; margin-right: 0; margin-bottom: 30px; }

ul.dashboard_stories li { border-bottom: 1px solid #e8ebee; font-size: 13px; color: #afb8c5; padding: 8px 8px 8px 40px; }

ul.dashboard_stories li a { color: #afb8c5; }

ul.dashboard_stories li a:hover { color: #a0a8b5; }

ul.dashboard_stories li.feature { background: url(../images/dashboard_story_icons.png) no-repeat 8px 6px; }

ul.dashboard_stories li.chore { background: url(../images/dashboard_story_icons.png) no-repeat 8px -93px; }

ul.dashboard_stories li.bug { background: url(../images/dashboard_story_icons.png) no-repeat 8px -43px; }

ul.dashboard_stories li:last-child { border-bottom: none; }

ul.dashboard_stories li.none { text-align: center; color: #bec7d7; }

.progress_text { font-size: 12px; margin-right: 10px; color: #888; }

.progress { width: 162px; height: 15px; background-image: url(../images/dashboard_progress_background.png); border: 1px solid #afb8c5; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

.progress .progress_bar { height: 13px; width: 0; margin-top: 1px; margin-left: 1px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background-image: url(../images/dashboard_progress_bar.png); }

.progress .progress_bar.progress_0 { width: 0; }

.progress .progress_bar.progress_1 { width: 16px; }

.progress .progress_bar.progress_2 { width: 32px; }

.progress .progress_bar.progress_3 { width: 48px; }

.progress .progress_bar.progress_4 { width: 64px; }

.progress .progress_bar.progress_5 { width: 80px; }

.progress .progress_bar.progress_6 { width: 96px; }

.progress .progress_bar.progress_7 { width: 112px; }

.progress .progress_bar.progress_8 { width: 128px; }

.progress .progress_bar.progress_9 { width: 144px; }

.progress .progress_bar.progress_10 { width: 160px; }

.content.user { background-color: #f5f5f5; }

#dashboard input.toggle_project { width: 12px; height: 11px; border: none; cursor: pointer; background: url(../images/dashboard_toggle_buttons.png) 0 0px; }

#dashboard input.toggle_project.expanded { background-position: 0 -50px; }

ul.time_entries { list-style-type: none; padding: 0px; width: 400px; }

ul.time_entries li { color: #9ca7bd; font-size: 11px; }

ul.time_entries li a { color: #9ca7bd; }

ul.time_entries li span.time { font-size: 14px; font-weight: bold; color: #2b2c2f; padding-right: 3px; }

ul.time_entries li.running span.time { color: #5366cf; }



/* @end */

