/* @override 
	http://localhost:3000/stylesheets/application.css?1
	http://localhost:3333/stylesheets/application.css?1
	http://localhost:2010/stylesheets/application.css?1
*/

/* @group Basic */

body { font-family: Helvetica; }

h1 { font-size: 25pt; color: #ABC8E2; }

a { color: #375D81; text-decoration: none; }

.fl { float: left; }

.fr { float: right; }

.relative { position: relative; }

.hidden { display: none; }

ul.simple { list-style-type: none; padding: 0px; margin: 0px; }

/* @end */

/* @group Layout */

.content { padding: 15px; }

#wrapper { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: hidden; }

#header { height: 49px; background: #eee; border-bottom: 1px solid #d6d6d6; }

#main { position: absolute; top: 50px; bottom: 50px; left: 0px; right: 0px; }

#main #sidebar { background: #f1f4f8; border-right: 1px solid #c5d1de; width: 199px; position: absolute; top: 0px; bottom: 0px; left: 0px; display: none; }

#main #sidebar h2 { margin-left: 15px; margin-top: 10px; }

/* @group Navigation */

ul.navigation { width: 100%; list-style-type: none; padding: 0px; }

ul.navigation li { cursor: pointer; }

ul.navigation li a { color: #2e2e2e; cursor: pointer; }

ul.navigation li.active { background: #87a4c4; }

ul.navigation li.active a { color: #fff; font-weight: bold; text-shadow: #62778f 0 1px 0; }

#sidebar ul.navigation { }

#sidebar ul.navigation li { padding-left: 20px; padding-bottom: 3px; padding-top: 4px; }



/* @end */

#main #document { position: absolute; left: 0px; background: #fff; top: 0px; bottom: 0px; right: 0px; overflow: auto; }

#main #document.with_inspector { bottom: 250px; }

#main #inspector { background: #f3f3f3; position: absolute; right: 0px; width: 250px; top: 0px; bottom: 0px; border-left: 1px solid #bbb; }

body.loading #main #inspector { background: #f3f3f3 url(../images/inspector_loader.gif) no-repeat center center; }

body.loading #inspector .content { display: none; }

#footer { height: 50px; background: #ececec; border-top: 1px solid #dfdfdf; position: absolute; bottom: 0px; width: 100%; }

#footer_side { width: 200px; position: absolute; top: 0px; bottom: 0px; right: 0px; }

#footer_main { position: absolute; right: 200px; right: 0px; left: 0px; }

#footer .content { padding-top: 11px; }

/* @group Special views */

body.projects #main #sidebar { display: block; }

body.projects #main #document { left: 200px; }

body.with_inspector #main #document { right: 250px; }



/* @end */

/* @end */

/* @group Typo */

#sidebar h2 { color: #6b809d; font-weight: bold; margin: 0 0 5px; font-size: 11px; text-transform: uppercase; text-shadow: #fff 0 1px 0; }

h1.logo { font: 11pt Monaco; color: #b1b1b1; margin-top: 2px; margin-left: 10px; }

h3 { font-weight: bold; font-size: 14px; color: #5178b9; }

p.description { color: #808080; }

/* @end */

/* @group Stories */

ul.stories { padding: 0px; margin: 0px; }

ul.stories li { padding: 10px; margin-bottom: 0; cursor: pointer; background-image: url(../images/story_background.png); }

ul.stories li.current { background-position: 0 0; }

ul.stories li.upcoming { background-position: 0 -60px; }

ul.stories li.done { background-position: 0 -120px; }

ul.stories li.selected { background: #507dbb !important; color: #fff; }

ul.stories li div.state_box { padding-top: 6px; }

ul.stories div.state { text-transform: uppercase; font-size: 11px; font-weight: bold; padding: 2px 3px 0; padding-right: 1px; }

ul.stories li:hover div.state { display: none; }

ul.stories li.done div.state { color: #2e9e31; }

ul.stories li.current div.state { color: #468be6; }

ul.stories li.upcoming div.state { color: #e68646; }

ul.stories div.change_state { display: none; text-shadow: rgba(0,0,0,0.3) 0 -1px 0; -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.3); margin-top: 0px; }

ul.stories div.change_state a { color: #fff; font-size: 11px; padding: 0px; }

ul.stories li:hover div.change_state { display: block; }

ul.stories li.done div.change_state { background-image: url(../images/story_state.png); text-transform: uppercase; color: #fff; font-size: 11px; font-weight: bold; padding: 2px 3px 0; }

ul.stories li.current div.change_state { text-transform: uppercase; color: #fff; font-size: 11px; font-weight: bold; padding: 2px 3px 0; background: url(../images/story_state.png) 0 -20px; }

ul.stories li.upcoming div.change_state { text-transform: uppercase; color: #fff; font-size: 11px; font-weight: bold; padding: 2px 3px 0; background: url(../images/story_state.png) 0 -40px; }

ul.stories .icon { padding-right: 10px; padding-top: 3px; }

input.message { font-size: 11px; color: #b5b5b5; border-color: #eee; margin: 0px 5px 0px 0px; width: 300px; }

input.message:focus { border-color: #eee; color: #636363; outline: none; }

.story div.messages { display: none; }

.story .name { padding-top: 7px; }

/* @group Selected */

ul.stories li.selected div.state { color: #fffeff; }

ul.stories li.selected input.message { font-size: 11px; color: #7c9ed0; border: none; margin: 0px 5px 0px 0px; width: 300px; background-color: #4a74af; }

ul.stories li.selected input.message:focus { border-color: #eee; color: #fefcfc; }

.story.selected div.messages { display: block; }

.story.selected .name { padding-top: 0px; font-weight: bold; }



/* @end */

/* @group Filter */

#filter { }



/* @end */


/* @end */

/* @group Buttons */

a.tab { color: #494949; font-weight: bold; display: block; float: left; background-image: url(../images/tabs.png); border: 1px solid #c5c5c5; border-right: none; font-size: 11px; padding: 6px 10px 4px; }

a.tab.active { background-position: 0 -50px; color: #f7f7f7; border-color: #797979; }

a.tab:last-child { border-right: 1px solid #c5c5c5; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; }

a.tab:first-child { -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; }



/* @end */