- content_for :footer do
  .content.clearfix
    .fl
      #filter.clearfix
        %a.tab.filter{:href => "#", :"data-state" => "done"}
          Done
        %a.tab.filter{:href => "#", :"data-state" => "current"}
          Current
        %a.tab.filter{:href => "#", :"data-state" => "upcoming"}
          Upcoming
        %a.tab.filter{:href => "#", :"data-state" => "new"}
          New
    .fr
      #type_filter.clearfix
        %a.tab.filter{:href => "#", :"data-type" => "feature"}
          Feature
        %a.tab.filter{:href => "#", :"data-type" => "chore"}
          Chore
        %a.tab.filter{:href => "#", :"data-type" => "bug"}
          Bug
