.story_inspector
  .story_action_buttons
    - if @story.state == "upcoming"
      %a{:href => "#", :class => "story_action start", :"data-state" => 'current'}
        %span Mark as started
    - if @story.state == "current"
      %a{:href => "#", :class => "story_action finish", :"data-state" => 'done'}
        %span Mark as finished
    - if @story.state == "done"
      %a{:href => "#", :class => "story_action archive", :"data-state" => 'archived'}
        %span Move to archive
    - if @story.state == "new"
      %a{:href => "#", :class => "story_action schedule", :"data-state" => "upcoming"}
        %span Mark as upcoming

  
  = render :partial => "stories/inspector/form"
    
  .content    
    - if @story.notes.present?
      %h3 Comments
      %ul.comments
        - @story.notes.each do |note|
          %li
            %strong= note['author']
            = format_text(note['text'])
      
  
    %h3 Links
    
    %ul.links
      %li= link_to "Pivotal Tracker ›", @story.url, :target => "_blank"
      %li
        %input{:type => "text", :class => "message select", :value => commit_message(@story)}
      %li
        %input{:type => "text", :class => "message select", :value => git_flow_message(@story)}