%ul.stories{:"data-state" => "done"}
  = render :partial => "story", :collection => @done

%ul.stories{:"data-state" => "current"}
  = render :partial => "story", :collection => @current

%ul.stories{:"data-state" => "upcoming"}
  = render :partial => "story", :collection => @upcoming      
      
= render :partial => "filter"