%ul.stories
  = render :partial => "story", :collection => @done

%ul.stories
  = render :partial => "story", :collection => @current

%ul.stories
  = render :partial => "story", :collection => @upcoming      
      
= render :partial => "filter"