%ul.stories
  = render :partial => "story", :collection => @done
  = render :partial => "story", :collection => @current
  = render :partial => "story", :collection => @upcoming      
  
.content
  .clearfix
    %a.tab{:href => new_project_story_path} Add a story
      
= render :partial => "filter"