.clearfix
  - if @time_entry
    .fr.clock
      %strong= format_as_time(@time_entry.total_length)
      - if @time_entry.is_running?
        %a.toggle.pause{:href => pause_time_entry_path(@time_entry, :cache => Time.now.to_i)} Pause
      - else
        %a.toggle.start{:href => start_time_entry_path(@time_entry, :cache => Time.now.to_i)} Start
    .fr.entry
      = @time_entry.story.name
  - else
    .fr.clock
      %strong 00:00
      %a.toggle.start{:href => "#"} Toggle
    .fr.entry
      Select a story