.clearfix
  - if @time_entry
    .fr.clock
      %strong= format_as_time(@time_entry.current_length)
      - if @time_entry.is_running?
        %a.toggle.pause{:href => pause_time_entry_path(@time_entry), :class => "ajax unique"} Pause
      - else
        %a.toggle.start{:href => start_time_entry_path(@time_entry), :class => "ajax unique"} Start
    .fr.entry
      = @time_entry.story.name
  - else
    .fr.clock
      %strong 00:00
      %a.toggle.start{:href => "#"} Toggle
    .fr.entry
      Select a story