.content
  %h3 Time entries
  
  %table
    %tr
      %th Date
      %th Story
      %th Length
      %th
      
    - @entries.each do |entry|
      %tr
        %td= entry.date
        %td= entry.story.name
        %td= entry.total_length
        %td= link_to "Remove", remove_time_entry_path(entry), :class => "ajax"