%head
  %title Headwater β
  = stylesheet_link_tag "blueprint/screen", "application"
  = javascript_include_tag "jquery.js", "rails.js", "inscription.js"
  = javascript_include_tag "application.js", "stories.js", "time_tracker.js"
  = csrf_meta_tag