!!!
%html
  %head
    %title Headwater β
    = stylesheet_link_tag "blueprint/screen", "application"
    = csrf_meta_tag

  %body
    #wrapper
      #header
        .content
          %h1.logo Headwater
      #main
        #sidebar
          .content
            %h2 Main
            %ul.simple
              %li Dashboard
            %h2 Projects
            %ul.simple.navigation
              - @projects.each do |project|
                %li
                  %a{:href => project_path(project)}= project.name
        #document
          .content
            = yield
      #footer
        